# Dataframe Manipulation Warmup

In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})
df

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73
...,...,...,...,...,...,...
4995,frog,potato,blueberries,yes,9.992337,59
4996,frog,potato,apple,yes,8.916902,46
4997,lemur,squash,banana,no,7.317019,70
4998,lemur,squash,blueberries,yes,12.720892,50
4999,dog,potato,banana,yes,12.890119,53

- What is the highest amount of netflix consumption? `17.535`

In [2]:
df.netflix_consumption.max()

17.534818515438925

- How many people wear glasses? What percentage of people is this? `2555`, `.511`

In [15]:
(df.wears_glasses == 'yes').sum(), (df.wears_glasses == 'yes').mean()

(2555, 0.511)

- How many people's favorite animal is a dog? `1002`

In [4]:
df.favorite_animal[df.favorite_animal == 'dog'].count()

1002

- What is the most common favorite animal? `lemur`

In [5]:
df.favorite_animal.value_counts().index[0]

'lemur'

- What is the average netflix consumption for people that prefer brussel
  sprouts? `10.008`

In [6]:
df.netflix_consumption[df.favorite_vegetable == 'brussel sprouts'].mean()

10.00847154798366

- What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? `blueberries`

In [7]:
df.favorite_fruit[(df.wears_glasses == 'yes') & (df.open_browser_tabs > 40)].value_counts().index[0]

'blueberries'

- What percentage of people have a netflix consumption lower than 7? `.0716`

In [16]:
(df.netflix_consumption < 7).mean()

0.0716

- What is the average netflix consumption for people with less than 30 open browser tabs? `9.91935`

In [9]:
df.netflix_consumption[df.open_browser_tabs < 30].mean()

9.91935736918227

- How many people *don't* wear glasses, have a favorite animal of a panda, have a favorite fruit of blueberries, and have more than 60 open browser tabs?
    What is the median netflix consumption for this group? What is the most common favorite vegetable for this group? `46`, `10.455`, `potato`

In [10]:
df[(df.wears_glasses == 'no') & (df.favorite_animal == 'panda') & (df.favorite_fruit == 'blueberries') & (df.open_browser_tabs > 60)].shape[0], \
df.netflix_consumption[(df.wears_glasses == 'no') & (df.favorite_animal == 'panda') & (df.favorite_fruit == 'blueberries') & (df.open_browser_tabs > 60)].median(), \
df.favorite_vegetable[(df.wears_glasses == 'no') & (df.favorite_animal == 'panda') & (df.favorite_fruit == 'blueberries') & (df.open_browser_tabs > 60)].value_counts().index[0]

(46, 10.45479760071613, 'potato')

- What is the least popular combination of favorite fruit and vegetable? `apple` and `potato`

In [11]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size().idxmin()

('apple', 'potato')

- Which combination of favorite animal and wearing glasses has the highest average netflix consumption? `people that wear glasses and prefer pandas`

In [12]:
df.groupby(['favorite_animal', 'wears_glasses']).netflix_consumption.mean().idxmax()

('panda', 'yes')

- **Bonus**: for each of the above questions, what kind of visualization would be the most effective in conveying your answer?